<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="me.anon.grow3"
>
	<application
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:name=".MainApplication"
		android:theme="@style/AppTheme"
		tools:node="merge"
		android:allowBackup="false"
		android:fullBackupContent="false"
		android:dataExtractionRules="@xml/data_extraction_rules"
	>
		<activity
			android:name=".ui.BootActivity"
			android:label="${appName}"
			android:noHistory="true"
			android:theme="@style/AppTheme.Launch"
			android:exported="true"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.main.activity.MainActivity"
			android:theme="@style/AppTheme.FullScrim"
			android:launchMode="singleTask"
			android:exported="false"
		/>

		<activity
			android:name=".ui.crud.activity.DiaryActivity"
			android:theme="@style/AppTheme.FullScrim"
			android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
			android:label="@string/navigation_diary_details"
			android:exported="false"
		/>

		<activity
			android:name=".ui.setup.activity.SetupActivity"
			android:theme="@style/AppTheme.Launch"
			android:exported="false"
		/>

		<activity
			android:name=".ui.settings.activity.SettingsActivity"
			android:theme="@style/AppTheme.FullScrim"
			android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
			android:label="@string/menu_settings"
			android:parentActivityName=".ui.main.activity.MainActivity"
			android:exported="false"
		/>
	</application>
</manifest>
